Diagnostics:

    UnusedIncludes: None #too many false positives in clangd 17.0.5
      #MissingIncludes: Strict

    ClangTidy:
        Add: [modernize*, cppcoreguidelines-prefer-member-initializer, readability-suspicious-call-argument]
        Remove: [modernize-use-std-print, modernize-use-trailing-return-type, modernize-avoid-c-arrays,modernize-use-nodiscard]
        CheckOptions:
            readability-identifier-naming.VariableCase: CamelCase
---
CompileFlags:
  Add: [
    "-std=c++2b"
  ]
  Remove: [
    "-ffold-*"
  ]
